USE [master]
GO
/****** Object:  Database [EmployeetDB]    Script Date: 8/10/2020 4:32:21 PM ******/
CREATE DATABASE [EmployeetDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EmployeetDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeetDB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'EmployeetDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.SQLEXPRESS\MSSQL\DATA\EmployeetDB_log.ldf' , SIZE = 832KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EmployeetDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EmployeetDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 8/10/2020 4:32:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Employeedb]    Script Date: 8/10/2020 4:32:23 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Employeedb](
	[empid] [int] IDENTITY(1,1) NOT NULL,
	[empname] [varchar](100) NULL,
	[address] [varchar](100) NULL,
	[mobile] [varchar](100) NULL,
	[age] [int] NOT NULL,
 CONSTRAINT [PK_Employeedb] PRIMARY KEY CLUSTERED 
(
	[empid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20200807163308_InitialCreate', N'3.1.0')
SET IDENTITY_INSERT [dbo].[Employeedb] ON 

INSERT [dbo].[Employeedb] ([empid], [empname], [address], [mobile], [age]) VALUES (3, N'Sanjeeva', N'67 ggghh delhi', N'897665321', 30)
INSERT [dbo].[Employeedb] ([empid], [empname], [address], [mobile], [age]) VALUES (4, N'Manish', N'67 patna', N'9785542453', 40)
SET IDENTITY_INSERT [dbo].[Employeedb] OFF
USE [master]
GO
